<nav>
    <div class="sidebar">
        <a href="/"><h2>Home</h2></a>
        <a href="/people"><h2>People</h2></a>
        <a href="/countries"><h2>Countries</h2></a>
        <a href="/groups"><h2>Groups</h2></a>
    </div>
</nav>