<nav>
    <div class="sidebar">
        <a href="/"><h2>Home</h2></a>
        <a href="/places"><h2>Go to places</h2></a>
        <a href="/trips"><h2>Go to trips</h2></a>
        <a href="/records"><h2>Go to records</h2></a>
    </div>
</nav>