<div>
    
    <h2>New person:</h2>

    <form action="/people" method='post'>
      <input type="text" name='name' placeholder='...name'>
      <input type="text" name='gender' placeholder='...gender'>
      <input type="text" name='date_of_birth' placeholder='...date of birth (mm/dd/yyyy)'>
      <input type="text" name='image_url' placeholder='...image url'>

      <select name="country_id">          
        <% @countries.each do |country| %>
          <option value="<%= country.id %>"><%= country.name %></option>
        <% end %> 
      </select> 
      
      <select name="group_id">
        <% @groups.each do |group| %>
          <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
      </select> 
    
      <input type="submit">
    </form>

</div>
