<div>
    
    <h2>New country:</h2>

    <form action="/countries" method='post'>
      <input type="text" name='name' placeholder='...name'>
      <input type="text" name='countrycode' placeholder='...countrycode'>     
      <input type="text" name='image_url' placeholder='...image url'>  
      <textarea rows="5" cols="50" name='description' placeholder='...description'></textarea>
    
      <input type="submit">
    </form>

</div>
